:root {
  --text: #f4f3ff;
  --bg: rgb(11, 13, 26);


  --sans: system-ui, 'Outfit', Roboto, sans-serif;
  --heading: system-ui, 'Outfit', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

}

